<a href="https://colab.research.google.com/github/maeliech/database/blob/main/week11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3 as sl
con = sl.connect('my-test.db')

In [2]:
with con:
  con.execute("""
        CREATE TABLE USER (
              id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
              name TEXT,
              age INTEGER
              );
        """)

In [3]:
sql = 'INSERT INTO USER (id, name, age) values (?,?,?)'
data = [
    (1, 'Alice', 21),
    (2, 'Bob', 22),
    (3, 'Chris', 23)
]

In [4]:
with con:
  con.executemany(sql,data)

In [5]:
with con:
  data = con.execute("SELECT * FROM USER WHERE age <= 22")
  for row in data:
    print(row)

(1, 'Alice', 21)
(2, 'Bob', 22)

integrate SQLite with Pandas

In [6]:
import pandas as pd
df_skill = pd.DataFrame({
    'user_id': [1,1,2,2,3,3,3],
    'skill': ['Network Security', 'Algorithm Development', 'Network Security', 'Java', 'Python', 'Data Science','Machine Learning']
})
df_skill

   user_id                  skill
0        1       Network Security
1        1  Algorithm Development
2        2       Network Security
3        2                   Java
4        3                 Python
5        3           Data Science
6        3       Machine Learning

In [7]:
df_skill.to_sql('SKILL', con)
df = pd.read_sql('''
    SELECT s.user_id, u.name, u.age, s.skill
    FROM USER u LEFT JOIN SKILL s ON u.id = s.user_id
    ''', con)

df

   user_id   name  age                  skill
0        1  Alice   21  Algorithm Development
1        1  Alice   21       Network Security
2        2    Bob   22                   Java
3        2    Bob   22       Network Security
4        3  Chris   23           Data Science
5        3  Chris   23       Machine Learning
6        3  Chris   23                 Python

In [8]:
df_skill.to_sql('USER_SKILL',con)

Using SQLite as a Time Series Database SQLite supports five date and time functions as follows:
1. date(timestring, modifier, modifier,...)
2.time(timestring, modifier, modifier...)
3.datetime(timestring,modifier,modifier,...)
4.julianday(timestring,modifier,modifier...)
5.strftime(format,timestring,modifier,modifier,...)

All five date and time functions take a time string as an argument. The time string is followed by zero of more modifiers. The strftime() function also takes a format string as its first argument. With these date and time functions, we can save time series data into a SQLite database so as to use SQLite as a time series database.

In this subsection, we will create a table to save man-made temperature data at different dates and times. You can presume that they are collected from some kind of temperatures sensors.

This subsection notebook will present:
> Practice date and time functions
> Create a temperature table and index
> Insert data into the temperature table
> Query

In [9]:
%load_ext sql
from random import uniform,choice
import time
from datetime import datetime, timedelta
import pandas as pd
%matplotlib inline

In [10]:
%sql sqlite:///demo.db3

'Connected: @demo.db3'

In [11]:
%sql SELECT date('now');

 * sqlite:///demo.db3
Done.

[('2022-11-09',)]

In [27]:
%sql SELECT date('now','start of month','+1 month','-1 day');

 * sqlite:///demo.db3
Done.

[('2022-11-30',)]

In [13]:
%%sql sqlite://
DROP TABLE IF EXISTS Temperature;
CREATE TABLE Temperature (Timestamp DATETIME NOT NULL, Temperature NUMERIC NOT NULL)

Done.
Done.

[]

In [14]:
%%sql sqlite://
CREATE UNIQUE INDEX idx_timestamp ON Temperature (Timestamp);

Done.

[]

In [21]:
def dt(days):
  return timedelta(days=days)

N_rows = 500
now = datetime.now()

for i in range(N_rows):
  timestamp = now - dt(days=(N_rows - i))
  temperature=uniform(18,26)
  %sql INSERT INTO Temperature VALUES (:timestamp, :temperature);

 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.

Play with time series table, simple query

In [22]:
%sql SELECT datetime(Timestamp) as Date, Temperature FROM Temperature LIMIT 5

 * sqlite:///demo.db3
Done.

[('2021-06-27 09:37:30', 22.35478343597891),
 ('2021-06-28 09:37:30', 18.696050120249765),
 ('2021-06-29 09:37:30', 19.051959907532805),
 ('2021-06-30 09:37:30', 22.1921960424978),
 ('2021-07-01 09:37:30', 19.10687843231692)]

Filtrer with a datetime

In [23]:
%%sql sqlite://
SELECT Timestamp as Date, Temperature
FROM Temperature
WHERE Date <= '2022-06-31 14:21:45'

Done.

[('2021-06-27 09:37:30.746478', 22.35478343597891),
 ('2021-06-28 09:37:30.746478', 18.696050120249765),
 ('2021-06-29 09:37:30.746478', 19.051959907532805),
 ('2021-06-30 09:37:30.746478', 22.1921960424978),
 ('2021-07-01 09:37:30.746478', 19.10687843231692),
 ('2021-07-02 09:37:30.746478', 23.705748416094664),
 ('2021-07-03 09:37:30.746478', 22.607962104305386),
 ('2021-07-04 09:37:30.746478', 19.583893730745153),
 ('2021-07-05 09:37:30.746478', 24.39668667712699),
 ('2021-07-06 09:37:30.746478', 25.298497165614787),
 ('2021-07-07 09:37:30.746478', 24.26758588888879),
 ('2021-07-08 09:37:30.746478', 18.90310038190401),
 ('2021-07-09 09:37:30.746478', 18.795871871265845),
 ('2021-07-10 09:37:30.746478', 23.918587630266117),
 ('2021-07-11 09:37:30.746478', 22.81120114865601),
 ('2021-07-12 09:37:30.746478', 23.87116156756206),
 ('2021-07-13 09:37:30.746478', 19.639224499922534),
 ('2021-07-14 09:37:30.746478', 21.245443358789085),
 ('2021-07-15 09:37:30.746478', 24.018032998921548),
 ('2021-07-16 09:37:30.746478', 18.3290518434425),
 ('2021-07-17 09:37:30.746478', 19.791688637028436),
 ('2021-07-18 09:37:30.746478', 21.81756934460718),
 ('2021-07-19 09:37:30.746478', 21.337904396585742),
 ('2021-07-20 09:37:30.746478', 25.125335178363976),
 ('2021-07-21 09:37:30.746478', 18.436017266880285),
 ('2021-07-22 09:37:30.746478', 25.22326020942125),
 ('2021-07-23 09:37:30.746478', 22.37556925739359),
 ('2021-07-24 09:37:30.746478', 23.340358187159765),
 ('2021-07-25 09:37:30.746478', 23.52496126975295),
 ('2021-07-26 09:37:30.746478', 21.645226009264277),
 ('2021-07-27 09:37:30.746478', 25.39321654848151),
 ('2021-07-28 09:37:30.746478', 18.013098926416845),
 ('2021-07-29 09:37:30.746478', 24.45469668560186),
 ('2021-07-30 09:37:30.746478', 24.336429019873695),
 ('2021-07-31 09:37:30.746478', 23.159931704444258),
 ('2021-08-01 09:37:30.746478', 21.881790217170458),
 ('2021-08-02 09:37:30.746478', 23.057978082678652),
 ('2021-08-03 09:37:30.746478', 24.296716908311886),
 ('2021-08-04 09:37:30.746478', 20.091191252965626),
 ('2021-08-05 09:37:30.746478', 22.750850497803125),
 ('2021-08-06 09:37:30.746478', 24.289422011488032),
 ('2021-08-07 09:37:30.746478', 19.859994707066853),
 ('2021-08-08 09:37:30.746478', 18.93667959607056),
 ('2021-08-09 09:37:30.746478', 22.846340097006347),
 ('2021-08-10 09:37:30.746478', 24.604954200526226),
 ('2021-08-11 09:37:30.746478', 24.92031896262899),
 ('2021-08-12 09:37:30.746478', 22.398263261753968),
 ('2021-08-13 09:37:30.746478', 21.64610753908818),
 ('2021-08-14 09:37:30.746478', 18.816498160047434),
 ('2021-08-15 09:37:30.746478', 20.639381927808003),
 ('2021-08-16 09:37:30.746478', 25.57340652115607),
 ('2021-08-17 09:37:30.746478', 20.136645167730503),
 ('2021-08-18 09:37:30.746478', 22.904155157777666),
 ('2021-08-19 09:37:30.746478', 19.312357980671045),
 ('2021-08-20 09:37:30.746478', 18.127392021303525),
 ('2021-08-21 09:37:30.746478', 22.556881597206818),
 ('2021-08-22 09:37:30.746478', 18.709331483125112),
 ('2021-08-23 09:37:30.746478', 24.386154996014316),
 ('2021-08-24 09:37:30.746478', 20.537153303773387),
 ('2021-08-25 09:37:30.746478', 22.32376599958068),
 ('2021-08-26 09:37:30.746478', 19.03887744561533),
 ('2021-08-27 09:37:30.746478', 21.11497303509624),
 ('2021-08-28 09:37:30.746478', 24.523406190715452),
 ('2021-08-29 09:37:30.746478', 25.93453811583103),
 ('2021-08-30 09:37:30.746478', 18.517102822485302),
 ('2021-08-31 09:37:30.746478', 24.606144581186733),
 ('2021-09-01 09:37:30.746478', 18.97575329075638),
 ('2021-09-02 09:37:30.746478', 22.25953543574871),
 ('2021-09-03 09:37:30.746478', 23.800956685163825),
 ('2021-09-04 09:37:30.746478', 20.45877855766364),
 ('2021-09-05 09:37:30.746478', 18.973859015603793),
 ('2021-09-06 09:37:30.746478', 18.950650796491303),
 ('2021-09-07 09:37:30.746478', 19.851784384110466),
 ('2021-09-08 09:37:30.746478', 25.597972644037906),
 ('2021-09-09 09:37:30.746478', 24.626773151553948),
 ('2021-09-10 09:37:30.746478', 25.3361621688974),
 ('2021-09-11 09:37:30.746478', 25.745955665814304),
 ('2021-09-12 09:37:30.746478', 20.223702489211345),
 ('2021-09-13 09:37:30.746478', 18.580656677457927),
 ('2021-09-14 09:37:30.746478', 23.456502427376734),
 ('2021-09-15 09:37:30.746478', 19.889930444710412),
 ('2021-09-16 09:37:30.746478', 19.797433267770607),
 ('2021-09-17 09:37:30.746478', 20.790066721246852),
 ('2021-09-18 09:37:30.746478', 22.68615048303247),
 ('2021-09-19 09:37:30.746478', 25.673603841938665),
 ('2021-09-20 09:37:30.746478', 21.453005984799255),
 ('2021-09-21 09:37:30.746478', 18.38854947316804),
 ('2021-09-22 09:37:30.746478', 20.745457346023926),
 ('2021-09-23 09:37:30.746478', 20.71736483277537),
 ('2021-09-24 09:37:30.746478', 21.064124012162125),
 ('2021-09-25 09:37:30.746478', 19.62679760047672),
 ('2021-09-26 09:37:30.746478', 24.793435628254237),
 ('2021-09-27 09:37:30.746478', 20.116907893447056),
 ('2021-09-28 09:37:30.746478', 19.0692205956921),
 ('2021-09-29 09:37:30.746478', 18.270127942665724),
 ('2021-09-30 09:37:30.746478', 21.395382430433305),
 ('2021-10-01 09:37:30.746478', 25.50447343460403),
 ('2021-10-02 09:37:30.746478', 23.133730348441794),
 ('2021-10-03 09:37:30.746478', 18.92071184331784),
 ('2021-10-04 09:37:30.746478', 23.026471589025626),
 ('2021-10-05 09:37:30.746478', 25.115151731011107),
 ('2021-10-06 09:37:30.746478', 21.079483732537415),
 ('2021-10-07 09:37:30.746478', 19.9420658371741),
 ('2021-10-08 09:37:30.746478', 25.685374304790905),
 ('2021-10-09 09:37:30.746478', 23.12484544392805),
 ('2021-10-10 09:37:30.746478', 20.286602836618624),
 ('2021-10-11 09:37:30.746478', 21.86446784958541),
 ('2021-10-12 09:37:30.746478', 20.79754907007936),
 ('2021-10-13 09:37:30.746478', 19.624220801608327),
 ('2021-10-14 09:37:30.746478', 22.115554578324424),
 ('2021-10-15 09:37:30.746478', 19.027531357110764),
 ('2021-10-16 09:37:30.746478', 18.28733148396162),
 ('2021-10-17 09:37:30.746478', 23.92818763911989),
 ('2021-10-18 09:37:30.746478', 19.621636172908037),
 ('2021-10-19 09:37:30.746478', 22.743526366814415),
 ('2021-10-20 09:37:30.746478', 19.182902787970697),
 ('2021-10-21 09:37:30.746478', 23.77772868500069),
 ('2021-10-22 09:37:30.746478', 21.9148196667049),
 ('2021-10-23 09:37:30.746478', 19.388297457010964),
 ('2021-10-24 09:37:30.746478', 18.39193069240507),
 ('2021-10-25 09:37:30.746478', 18.106357039436123),
 ('2021-10-26 09:37:30.746478', 20.680096752056983),
 ('2021-10-27 09:37:30.746478', 19.856679364897442),
 ('2021-10-28 09:37:30.746478', 20.35044257021768),
 ('2021-10-29 09:37:30.746478', 23.58686571494008),
 ('2021-10-30 09:37:30.746478', 24.93197698454149),
 ('2021-10-31 09:37:30.746478', 25.505496481520147),
 ('2021-11-01 09:37:30.746478', 22.04343434586003),
 ('2021-11-02 09:37:30.746478', 21.127344907829915),
 ('2021-11-03 09:37:30.746478', 18.880944557307124),
 ('2021-11-04 09:37:30.746478', 18.657765708501092),
 ('2021-11-05 09:37:30.746478', 24.73223768629863),
 ('2021-11-06 09:37:30.746478', 22.32024155834142),
 ('2021-11-07 09:37:30.746478', 25.950581517283005),
 ('2021-11-08 09:37:30.746478', 24.101256568334687),
 ('2021-11-09 09:37:30.746478', 19.125275062652772),
 ('2021-11-10 09:37:30.746478', 21.921186170291975),
 ('2021-11-11 09:37:30.746478', 19.637281164822102),
 ('2021-11-12 09:37:30.746478', 23.229482534670744),
 ('2021-11-13 09:37:30.746478', 24.159900773005724),
 ('2021-11-14 09:37:30.746478', 21.020659549143147),
 ('2021-11-15 09:37:30.746478', 19.30112350856032),
 ('2021-11-16 09:37:30.746478', 20.43805501778382),
 ('2021-11-17 09:37:30.746478', 23.099976190067146),
 ('2021-11-18 09:37:30.746478', 24.331770637253168),
 ('2021-11-19 09:37:30.746478', 24.511875991522288),
 ('2021-11-20 09:37:30.746478', 24.528600579887023),
 ('2021-11-21 09:37:30.746478', 24.197300040210816),
 ('2021-11-22 09:37:30.746478', 20.555402897901462),
 ('2021-11-23 09:37:30.746478', 21.551834425684135),
 ('2021-11-24 09:37:30.746478', 20.654032533072314),
 ('2021-11-25 09:37:30.746478', 22.558708201721572),
 ('2021-11-26 09:37:30.746478', 25.63476256103041),
 ('2021-11-27 09:37:30.746478', 21.396490465594475),
 ('2021-11-28 09:37:30.746478', 21.707548130499),
 ('2021-11-29 09:37:30.746478', 21.505535166954036),
 ('2021-11-30 09:37:30.746478', 24.765430629335643),
 ('2021-12-01 09:37:30.746478', 20.597195322438942),
 ('2021-12-02 09:37:30.746478', 20.48793472618957),
 ('2021-12-03 09:37:30.746478', 18.807165647217055),
 ('2021-12-04 09:37:30.746478', 21.10629949839737),
 ('2021-12-05 09:37:30.746478', 19.852167894371473),
 ('2021-12-06 09:37:30.746478', 23.84453819552973),
 ('2021-12-07 09:37:30.746478', 25.80650541133064),
 ('2021-12-08 09:37:30.746478', 21.907000897211283),
 ('2021-12-09 09:37:30.746478', 18.71950030624864),
 ('2021-12-10 09:37:30.746478', 23.646542449717067),
 ('2021-12-11 09:37:30.746478', 19.911989300310083),
 ('2021-12-12 09:37:30.746478', 22.248016277556623),
 ('2021-12-13 09:37:30.746478', 18.10557790693805),
 ('2021-12-14 09:37:30.746478', 20.612969929510857),
 ('2021-12-15 09:37:30.746478', 19.07407735871943),
 ('2021-12-16 09:37:30.746478', 23.750087999725245),
 ('2021-12-17 09:37:30.746478', 23.145179358525315),
 ('2021-12-18 09:37:30.746478', 22.945507453436342),
 ('2021-12-19 09:37:30.746478', 25.125456727937344),
 ('2021-12-20 09:37:30.746478', 23.27081627841691),
 ('2021-12-21 09:37:30.746478', 18.38726438465302),
 ('2021-12-22 09:37:30.746478', 18.61122877894958),
 ('2021-12-23 09:37:30.746478', 20.20648403203831),
 ('2021-12-24 09:37:30.746478', 18.828778950853717),
 ('2021-12-25 09:37:30.746478', 25.134893753421863),
 ('2021-12-26 09:37:30.746478', 19.288883778644024),
 ('2021-12-27 09:37:30.746478', 18.81640950172222),
 ('2021-12-28 09:37:30.746478', 18.573774458463618),
 ('2021-12-29 09:37:30.746478', 23.56739445320516),
 ('2021-12-30 09:37:30.746478', 20.66294294695679),
 ('2021-12-31 09:37:30.746478', 19.382206917444485),
 ('2022-01-01 09:37:30.746478', 20.87903722675974),
 ('2022-01-02 09:37:30.746478', 19.845353892992343),
 ('2022-01-03 09:37:30.746478', 19.567549805114957),
 ('2022-01-04 09:37:30.746478', 25.98222905104811),
 ('2022-01-05 09:37:30.746478', 20.857312332180687),
 ('2022-01-06 09:37:30.746478', 22.55255075794365),
 ('2022-01-07 09:37:30.746478', 20.406078708427422),
 ('2022-01-08 09:37:30.746478', 22.85586667373933),
 ('2022-01-09 09:37:30.746478', 24.680414036648294),
 ('2022-01-10 09:37:30.746478', 21.080430442919987),
 ('2022-01-11 09:37:30.746478', 23.438633740194724),
 ('2022-01-12 09:37:30.746478', 24.903207090197952),
 ('2022-01-13 09:37:30.746478', 20.50661729247913),
 ('2022-01-14 09:37:30.746478', 21.478323679195647),
 ('2022-01-15 09:37:30.746478', 22.526462863974416),
 ('2022-01-16 09:37:30.746478', 20.38671981920055),
 ('2022-01-17 09:37:30.746478', 18.633119992334073),
 ('2022-01-18 09:37:30.746478', 21.522735410803378),
 ('2022-01-19 09:37:30.746478', 18.55703210983991),
 ('2022-01-20 09:37:30.746478', 20.022106687774183),
 ('2022-01-21 09:37:30.746478', 23.170510969569442),
 ('2022-01-22 09:37:30.746478', 19.124778114737275),
 ('2022-01-23 09:37:30.746478', 23.45068194815041),
 ('2022-01-24 09:37:30.746478', 19.681082390539068),
 ('2022-01-25 09:37:30.746478', 23.342704260977648),
 ('2022-01-26 09:37:30.746478', 22.511760580383502),
 ('2022-01-27 09:37:30.746478', 18.267535042990737),
 ('2022-01-28 09:37:30.746478', 20.87566421078835),
 ('2022-01-29 09:37:30.746478', 21.432736062874216),
 ('2022-01-30 09:37:30.746478', 18.498859522556245),
 ('2022-01-31 09:37:30.746478', 18.899638676580047),
 ('2022-02-01 09:37:30.746478', 20.276099560688227),
 ('2022-02-02 09:37:30.746478', 22.32797890959815),
 ('2022-02-03 09:37:30.746478', 24.203085169504742),
 ('2022-02-04 09:37:30.746478', 20.357999012408747),
 ('2022-02-05 09:37:30.746478', 23.90705338671085),
 ('2022-02-06 09:37:30.746478', 24.581024969054898),
 ('2022-02-07 09:37:30.746478', 21.728050360672103),
 ('2022-02-08 09:37:30.746478', 18.618335389952982),
 ('2022-02-09 09:37:30.746478', 21.310866929239715),
 ('2022-02-10 09:37:30.746478', 22.86599289297675),
 ('2022-02-11 09:37:30.746478', 22.98028761733237),
 ('2022-02-12 09:37:30.746478', 23.06927339367361),
 ('2022-02-13 09:37:30.746478', 19.296736686972825),
 ('2022-02-14 09:37:30.746478', 19.878779602402975),
 ('2022-02-15 09:37:30.746478', 23.793547305294815),
 ('2022-02-16 09:37:30.746478', 23.104562522207416),
 ('2022-02-17 09:37:30.746478', 24.487331230204667),
 ('2022-02-18 09:37:30.746478', 21.29779976099106),
 ('2022-02-19 09:37:30.746478', 22.038967995865796),
 ('2022-02-20 09:37:30.746478', 23.116081913367317),
 ('2022-02-21 09:37:30.746478', 22.9576254492026),
 ('2022-02-22 09:37:30.746478', 23.75997173039078),
 ('2022-02-23 09:37:30.746478', 18.33468027718299),
 ('2022-02-24 09:37:30.746478', 18.01763192754481),
 ('2022-02-25 09:37:30.746478', 24.287174792928248),
 ('2022-02-26 09:37:30.746478', 24.215172183918007),
 ('2022-02-27 09:37:30.746478', 20.30111669010236),
 ('2022-02-28 09:37:30.746478', 23.559606653207076),
 ('2022-03-01 09:37:30.746478', 24.07991132795369),
 ('2022-03-02 09:37:30.746478', 25.149713195907488),
 ('2022-03-03 09:37:30.746478', 25.59893534843233),
 ('2022-03-04 09:37:30.746478', 22.7186178493957),
 ('2022-03-05 09:37:30.746478', 18.48577426061587),
 ('2022-03-06 09:37:30.746478', 22.759496271886476),
 ('2022-03-07 09:37:30.746478', 25.337277509247482),
 ('2022-03-08 09:37:30.746478', 21.27435404481208),
 ('2022-03-09 09:37:30.746478', 23.70135579886975),
 ('2022-03-10 09:37:30.746478', 19.8015316299584),
 ('2022-03-11 09:37:30.746478', 18.941362640033294),
 ('2022-03-12 09:37:30.746478', 21.65909865258111),
 ('2022-03-13 09:37:30.746478', 21.84435091990187),
 ('2022-03-14 09:37:30.746478', 18.13177237552273),
 ('2022-03-15 09:37:30.746478', 18.497518102137303),
 ('2022-03-16 09:37:30.746478', 20.916914886303395),
 ('2022-03-17 09:37:30.746478', 18.350310614559667),
 ('2022-03-18 09:37:30.746478', 24.707799092565068),
 ('2022-03-19 09:37:30.746478', 23.32149333666031),
 ('2022-03-20 09:37:30.746478', 20.639030284046186),
 ('2022-03-21 09:37:30.746478', 18.436708293870588),
 ('2022-03-22 09:37:30.746478', 19.642731120741274),
 ('2022-03-23 09:37:30.746478', 21.234130567069904),
 ('2022-03-24 09:37:30.746478', 21.198898567138034),
 ('2022-03-25 09:37:30.746478', 22.200499377987644),
 ('2022-03-26 09:37:30.746478', 20.282954132429527),
 ('2022-03-27 09:37:30.746478', 22.977973136965506),
 ('2022-03-28 09:37:30.746478', 21.467556728304295),
 ('2022-03-29 09:37:30.746478', 23.85986348928866),
 ('2022-03-30 09:37:30.746478', 24.729641575606134),
 ('2022-03-31 09:37:30.746478', 20.49548344173022),
 ('2022-04-01 09:37:30.746478', 25.916245451269855),
 ('2022-04-02 09:37:30.746478', 23.98900395651595),
 ('2022-04-03 09:37:30.746478', 23.35004872438952),
 ('2022-04-04 09:37:30.746478', 21.28841288509472),
 ('2022-04-05 09:37:30.746478', 21.503040473233654),
 ('2022-04-06 09:37:30.746478', 25.21436501785442),
 ('2022-04-07 09:37:30.746478', 20.358058627227788),
 ('2022-04-08 09:37:30.746478', 25.497143473903115),
 ('2022-04-09 09:37:30.746478', 23.03038774215239),
 ('2022-04-10 09:37:30.746478', 23.015998906106667),
 ('2022-04-11 09:37:30.746478', 25.455687794023916),
 ('2022-04-12 09:37:30.746478', 25.79856130131334),
 ('2022-04-13 09:37:30.746478', 25.19652605585491),
 ('2022-04-14 09:37:30.746478', 18.18490414123712),
 ('2022-04-15 09:37:30.746478', 24.409468402309162),
 ('2022-04-16 09:37:30.746478', 19.08694531227964),
 ('2022-04-17 09:37:30.746478', 25.215269303420133),
 ('2022-04-18 09:37:30.746478', 18.449633943475494),
 ('2022-04-19 09:37:30.746478', 21.649994955980798),
 ('2022-04-20 09:37:30.746478', 19.44373783912497),
 ('2022-04-21 09:37:30.746478', 19.189518327366635),
 ('2022-04-22 09:37:30.746478', 25.608499634929125),
 ('2022-04-23 09:37:30.746478', 21.34395570872279),
 ('2022-04-24 09:37:30.746478', 18.95859710843073),
 ('2022-04-25 09:37:30.746478', 23.597013306589254),
 ('2022-04-26 09:37:30.746478', 25.686927921126646),
 ('2022-04-27 09:37:30.746478', 23.0101402336838),
 ('2022-04-28 09:37:30.746478', 22.45031347711398),
 ('2022-04-29 09:37:30.746478', 19.930298048048318),
 ('2022-04-30 09:37:30.746478', 19.830142638671084),
 ('2022-05-01 09:37:30.746478', 18.43175992502539),
 ('2022-05-02 09:37:30.746478', 22.704632318924165),
 ('2022-05-03 09:37:30.746478', 20.721910332385686),
 ('2022-05-04 09:37:30.746478', 20.011440593967137),
 ('2022-05-05 09:37:30.746478', 18.073018367878163),
 ('2022-05-06 09:37:30.746478', 23.945701868788362),
 ('2022-05-07 09:37:30.746478', 24.93943624214637),
 ('2022-05-08 09:37:30.746478', 23.044181497465782),
 ('2022-05-09 09:37:30.746478', 23.57022815953289),
 ('2022-05-10 09:37:30.746478', 20.999973170432533),
 ('2022-05-11 09:37:30.746478', 18.57776341271512),
 ('2022-05-12 09:37:30.746478', 22.091321684760576),
 ('2022-05-13 09:37:30.746478', 22.02898318379907),
 ('2022-05-14 09:37:30.746478', 21.81375379813384),
 ('2022-05-15 09:37:30.746478', 18.16309407160195),
 ('2022-05-16 09:37:30.746478', 24.1182792393209),
 ('2022-05-17 09:37:30.746478', 18.17892877008956),
 ('2022-05-18 09:37:30.746478', 23.971235715808678),
 ('2022-05-19 09:37:30.746478', 21.13096571307331),
 ('2022-05-20 09:37:30.746478', 19.187824531624372),
 ('2022-05-21 09:37:30.746478', 20.06824347091576),
 ('2022-05-22 09:37:30.746478', 20.058829856165495),
 ('2022-05-23 09:37:30.746478', 18.143633226948662),
 ('2022-05-24 09:37:30.746478', 18.518793079259503),
 ('2022-05-25 09:37:30.746478', 19.52441245232121),
 ('2022-05-26 09:37:30.746478', 21.37788524479743),
 ('2022-05-27 09:37:30.746478', 25.49303955205643),
 ('2022-05-28 09:37:30.746478', 23.238121260653998),
 ('2022-05-29 09:37:30.746478', 21.90881298272098),
 ('2022-05-30 09:37:30.746478', 18.618947116258283),
 ('2022-05-31 09:37:30.746478', 24.968664183623503),
 ('2022-06-01 09:37:30.746478', 22.553051456469845),
 ('2022-06-02 09:37:30.746478', 25.78120294855612),
 ('2022-06-03 09:37:30.746478', 20.987708230635548),
 ('2022-06-04 09:37:30.746478', 20.726519098433677),
 ('2022-06-05 09:37:30.746478', 23.699019513016154),
 ('2022-06-06 09:37:30.746478', 20.582504219678363),
 ('2022-06-07 09:37:30.746478', 21.10688257795311),
 ('2022-06-08 09:37:30.746478', 21.28555000772408),
 ('2022-06-09 09:37:30.746478', 18.861268171377407),
 ('2022-06-10 09:37:30.746478', 18.99082151156629),
 ('2022-06-11 09:37:30.746478', 23.203061240021924),
 ('2022-06-12 09:37:30.746478', 23.05709965995885),
 ('2022-06-13 09:37:30.746478', 20.982838707362312),
 ('2022-06-14 09:37:30.746478', 19.854447250014328),
 ('2022-06-15 09:37:30.746478', 19.10633006409628),
 ('2022-06-16 09:37:30.746478', 18.94712971894635),
 ('2022-06-17 09:37:30.746478', 23.7515076777924),
 ('2022-06-18 09:37:30.746478', 19.244204945429722),
 ('2022-06-19 09:37:30.746478', 22.072257874643277),
 ('2022-06-20 09:37:30.746478', 23.96536168406765),
 ('2022-06-21 09:37:30.746478', 25.502933408949563),
 ('2022-06-22 09:37:30.746478', 19.716525176967007),
 ('2022-06-23 09:37:30.746478', 19.28212734001477),
 ('2022-06-24 09:37:30.746478', 22.33049887142544),
 ('2022-06-25 09:37:30.746478', 21.213014563439323),
 ('2022-06-26 09:37:30.746478', 22.096656273589304),
 ('2022-06-27 09:37:30.746478', 24.3159527947289),
 ('2022-06-28 09:37:30.746478', 18.772139131294963),
 ('2022-06-29 09:37:30.746478', 23.28093823637664),
 ('2022-06-30 09:37:30.746478', 20.011929511667304)]

In [24]:
%%sql sqlite://
SELECT Timestamp as Date, Temperature
FROM Temperature
WHERE CAST(strftime('%Y', Date) as Int) = 2021

Done.

[('2021-06-27 09:37:30.746478', 22.35478343597891),
 ('2021-06-28 09:37:30.746478', 18.696050120249765),
 ('2021-06-29 09:37:30.746478', 19.051959907532805),
 ('2021-06-30 09:37:30.746478', 22.1921960424978),
 ('2021-07-01 09:37:30.746478', 19.10687843231692),
 ('2021-07-02 09:37:30.746478', 23.705748416094664),
 ('2021-07-03 09:37:30.746478', 22.607962104305386),
 ('2021-07-04 09:37:30.746478', 19.583893730745153),
 ('2021-07-05 09:37:30.746478', 24.39668667712699),
 ('2021-07-06 09:37:30.746478', 25.298497165614787),
 ('2021-07-07 09:37:30.746478', 24.26758588888879),
 ('2021-07-08 09:37:30.746478', 18.90310038190401),
 ('2021-07-09 09:37:30.746478', 18.795871871265845),
 ('2021-07-10 09:37:30.746478', 23.918587630266117),
 ('2021-07-11 09:37:30.746478', 22.81120114865601),
 ('2021-07-12 09:37:30.746478', 23.87116156756206),
 ('2021-07-13 09:37:30.746478', 19.639224499922534),
 ('2021-07-14 09:37:30.746478', 21.245443358789085),
 ('2021-07-15 09:37:30.746478', 24.018032998921548),
 ('2021-07-16 09:37:30.746478', 18.3290518434425),
 ('2021-07-17 09:37:30.746478', 19.791688637028436),
 ('2021-07-18 09:37:30.746478', 21.81756934460718),
 ('2021-07-19 09:37:30.746478', 21.337904396585742),
 ('2021-07-20 09:37:30.746478', 25.125335178363976),
 ('2021-07-21 09:37:30.746478', 18.436017266880285),
 ('2021-07-22 09:37:30.746478', 25.22326020942125),
 ('2021-07-23 09:37:30.746478', 22.37556925739359),
 ('2021-07-24 09:37:30.746478', 23.340358187159765),
 ('2021-07-25 09:37:30.746478', 23.52496126975295),
 ('2021-07-26 09:37:30.746478', 21.645226009264277),
 ('2021-07-27 09:37:30.746478', 25.39321654848151),
 ('2021-07-28 09:37:30.746478', 18.013098926416845),
 ('2021-07-29 09:37:30.746478', 24.45469668560186),
 ('2021-07-30 09:37:30.746478', 24.336429019873695),
 ('2021-07-31 09:37:30.746478', 23.159931704444258),
 ('2021-08-01 09:37:30.746478', 21.881790217170458),
 ('2021-08-02 09:37:30.746478', 23.057978082678652),
 ('2021-08-03 09:37:30.746478', 24.296716908311886),
 ('2021-08-04 09:37:30.746478', 20.091191252965626),
 ('2021-08-05 09:37:30.746478', 22.750850497803125),
 ('2021-08-06 09:37:30.746478', 24.289422011488032),
 ('2021-08-07 09:37:30.746478', 19.859994707066853),
 ('2021-08-08 09:37:30.746478', 18.93667959607056),
 ('2021-08-09 09:37:30.746478', 22.846340097006347),
 ('2021-08-10 09:37:30.746478', 24.604954200526226),
 ('2021-08-11 09:37:30.746478', 24.92031896262899),
 ('2021-08-12 09:37:30.746478', 22.398263261753968),
 ('2021-08-13 09:37:30.746478', 21.64610753908818),
 ('2021-08-14 09:37:30.746478', 18.816498160047434),
 ('2021-08-15 09:37:30.746478', 20.639381927808003),
 ('2021-08-16 09:37:30.746478', 25.57340652115607),
 ('2021-08-17 09:37:30.746478', 20.136645167730503),
 ('2021-08-18 09:37:30.746478', 22.904155157777666),
 ('2021-08-19 09:37:30.746478', 19.312357980671045),
 ('2021-08-20 09:37:30.746478', 18.127392021303525),
 ('2021-08-21 09:37:30.746478', 22.556881597206818),
 ('2021-08-22 09:37:30.746478', 18.709331483125112),
 ('2021-08-23 09:37:30.746478', 24.386154996014316),
 ('2021-08-24 09:37:30.746478', 20.537153303773387),
 ('2021-08-25 09:37:30.746478', 22.32376599958068),
 ('2021-08-26 09:37:30.746478', 19.03887744561533),
 ('2021-08-27 09:37:30.746478', 21.11497303509624),
 ('2021-08-28 09:37:30.746478', 24.523406190715452),
 ('2021-08-29 09:37:30.746478', 25.93453811583103),
 ('2021-08-30 09:37:30.746478', 18.517102822485302),
 ('2021-08-31 09:37:30.746478', 24.606144581186733),
 ('2021-09-01 09:37:30.746478', 18.97575329075638),
 ('2021-09-02 09:37:30.746478', 22.25953543574871),
 ('2021-09-03 09:37:30.746478', 23.800956685163825),
 ('2021-09-04 09:37:30.746478', 20.45877855766364),
 ('2021-09-05 09:37:30.746478', 18.973859015603793),
 ('2021-09-06 09:37:30.746478', 18.950650796491303),
 ('2021-09-07 09:37:30.746478', 19.851784384110466),
 ('2021-09-08 09:37:30.746478', 25.597972644037906),
 ('2021-09-09 09:37:30.746478', 24.626773151553948),
 ('2021-09-10 09:37:30.746478', 25.3361621688974),
 ('2021-09-11 09:37:30.746478', 25.745955665814304),
 ('2021-09-12 09:37:30.746478', 20.223702489211345),
 ('2021-09-13 09:37:30.746478', 18.580656677457927),
 ('2021-09-14 09:37:30.746478', 23.456502427376734),
 ('2021-09-15 09:37:30.746478', 19.889930444710412),
 ('2021-09-16 09:37:30.746478', 19.797433267770607),
 ('2021-09-17 09:37:30.746478', 20.790066721246852),
 ('2021-09-18 09:37:30.746478', 22.68615048303247),
 ('2021-09-19 09:37:30.746478', 25.673603841938665),
 ('2021-09-20 09:37:30.746478', 21.453005984799255),
 ('2021-09-21 09:37:30.746478', 18.38854947316804),
 ('2021-09-22 09:37:30.746478', 20.745457346023926),
 ('2021-09-23 09:37:30.746478', 20.71736483277537),
 ('2021-09-24 09:37:30.746478', 21.064124012162125),
 ('2021-09-25 09:37:30.746478', 19.62679760047672),
 ('2021-09-26 09:37:30.746478', 24.793435628254237),
 ('2021-09-27 09:37:30.746478', 20.116907893447056),
 ('2021-09-28 09:37:30.746478', 19.0692205956921),
 ('2021-09-29 09:37:30.746478', 18.270127942665724),
 ('2021-09-30 09:37:30.746478', 21.395382430433305),
 ('2021-10-01 09:37:30.746478', 25.50447343460403),
 ('2021-10-02 09:37:30.746478', 23.133730348441794),
 ('2021-10-03 09:37:30.746478', 18.92071184331784),
 ('2021-10-04 09:37:30.746478', 23.026471589025626),
 ('2021-10-05 09:37:30.746478', 25.115151731011107),
 ('2021-10-06 09:37:30.746478', 21.079483732537415),
 ('2021-10-07 09:37:30.746478', 19.9420658371741),
 ('2021-10-08 09:37:30.746478', 25.685374304790905),
 ('2021-10-09 09:37:30.746478', 23.12484544392805),
 ('2021-10-10 09:37:30.746478', 20.286602836618624),
 ('2021-10-11 09:37:30.746478', 21.86446784958541),
 ('2021-10-12 09:37:30.746478', 20.79754907007936),
 ('2021-10-13 09:37:30.746478', 19.624220801608327),
 ('2021-10-14 09:37:30.746478', 22.115554578324424),
 ('2021-10-15 09:37:30.746478', 19.027531357110764),
 ('2021-10-16 09:37:30.746478', 18.28733148396162),
 ('2021-10-17 09:37:30.746478', 23.92818763911989),
 ('2021-10-18 09:37:30.746478', 19.621636172908037),
 ('2021-10-19 09:37:30.746478', 22.743526366814415),
 ('2021-10-20 09:37:30.746478', 19.182902787970697),
 ('2021-10-21 09:37:30.746478', 23.77772868500069),
 ('2021-10-22 09:37:30.746478', 21.9148196667049),
 ('2021-10-23 09:37:30.746478', 19.388297457010964),
 ('2021-10-24 09:37:30.746478', 18.39193069240507),
 ('2021-10-25 09:37:30.746478', 18.106357039436123),
 ('2021-10-26 09:37:30.746478', 20.680096752056983),
 ('2021-10-27 09:37:30.746478', 19.856679364897442),
 ('2021-10-28 09:37:30.746478', 20.35044257021768),
 ('2021-10-29 09:37:30.746478', 23.58686571494008),
 ('2021-10-30 09:37:30.746478', 24.93197698454149),
 ('2021-10-31 09:37:30.746478', 25.505496481520147),
 ('2021-11-01 09:37:30.746478', 22.04343434586003),
 ('2021-11-02 09:37:30.746478', 21.127344907829915),
 ('2021-11-03 09:37:30.746478', 18.880944557307124),
 ('2021-11-04 09:37:30.746478', 18.657765708501092),
 ('2021-11-05 09:37:30.746478', 24.73223768629863),
 ('2021-11-06 09:37:30.746478', 22.32024155834142),
 ('2021-11-07 09:37:30.746478', 25.950581517283005),
 ('2021-11-08 09:37:30.746478', 24.101256568334687),
 ('2021-11-09 09:37:30.746478', 19.125275062652772),
 ('2021-11-10 09:37:30.746478', 21.921186170291975),
 ('2021-11-11 09:37:30.746478', 19.637281164822102),
 ('2021-11-12 09:37:30.746478', 23.229482534670744),
 ('2021-11-13 09:37:30.746478', 24.159900773005724),
 ('2021-11-14 09:37:30.746478', 21.020659549143147),
 ('2021-11-15 09:37:30.746478', 19.30112350856032),
 ('2021-11-16 09:37:30.746478', 20.43805501778382),
 ('2021-11-17 09:37:30.746478', 23.099976190067146),
 ('2021-11-18 09:37:30.746478', 24.331770637253168),
 ('2021-11-19 09:37:30.746478', 24.511875991522288),
 ('2021-11-20 09:37:30.746478', 24.528600579887023),
 ('2021-11-21 09:37:30.746478', 24.197300040210816),
 ('2021-11-22 09:37:30.746478', 20.555402897901462),
 ('2021-11-23 09:37:30.746478', 21.551834425684135),
 ('2021-11-24 09:37:30.746478', 20.654032533072314),
 ('2021-11-25 09:37:30.746478', 22.558708201721572),
 ('2021-11-26 09:37:30.746478', 25.63476256103041),
 ('2021-11-27 09:37:30.746478', 21.396490465594475),
 ('2021-11-28 09:37:30.746478', 21.707548130499),
 ('2021-11-29 09:37:30.746478', 21.505535166954036),
 ('2021-11-30 09:37:30.746478', 24.765430629335643),
 ('2021-12-01 09:37:30.746478', 20.597195322438942),
 ('2021-12-02 09:37:30.746478', 20.48793472618957),
 ('2021-12-03 09:37:30.746478', 18.807165647217055),
 ('2021-12-04 09:37:30.746478', 21.10629949839737),
 ('2021-12-05 09:37:30.746478', 19.852167894371473),
 ('2021-12-06 09:37:30.746478', 23.84453819552973),
 ('2021-12-07 09:37:30.746478', 25.80650541133064),
 ('2021-12-08 09:37:30.746478', 21.907000897211283),
 ('2021-12-09 09:37:30.746478', 18.71950030624864),
 ('2021-12-10 09:37:30.746478', 23.646542449717067),
 ('2021-12-11 09:37:30.746478', 19.911989300310083),
 ('2021-12-12 09:37:30.746478', 22.248016277556623),
 ('2021-12-13 09:37:30.746478', 18.10557790693805),
 ('2021-12-14 09:37:30.746478', 20.612969929510857),
 ('2021-12-15 09:37:30.746478', 19.07407735871943),
 ('2021-12-16 09:37:30.746478', 23.750087999725245),
 ('2021-12-17 09:37:30.746478', 23.145179358525315),
 ('2021-12-18 09:37:30.746478', 22.945507453436342),
 ('2021-12-19 09:37:30.746478', 25.125456727937344),
 ('2021-12-20 09:37:30.746478', 23.27081627841691),
 ('2021-12-21 09:37:30.746478', 18.38726438465302),
 ('2021-12-22 09:37:30.746478', 18.61122877894958),
 ('2021-12-23 09:37:30.746478', 20.20648403203831),
 ('2021-12-24 09:37:30.746478', 18.828778950853717),
 ('2021-12-25 09:37:30.746478', 25.134893753421863),
 ('2021-12-26 09:37:30.746478', 19.288883778644024),
 ('2021-12-27 09:37:30.746478', 18.81640950172222),
 ('2021-12-28 09:37:30.746478', 18.573774458463618),
 ('2021-12-29 09:37:30.746478', 23.56739445320516),
 ('2021-12-30 09:37:30.746478', 20.66294294695679),
 ('2021-12-31 09:37:30.746478', 19.382206917444485)]

In [25]:
%%sql sqlite://
SELECT strftime('%Y',Timestamp) as Year,
  AVG(Temperature) AS MEAN_TMP,
  MAX(Temperature) AS MAX_TMP,
  MIN(Temperature) AS MIN_TMP
FROM Temperature
GROUP BY strftime('%Y', Timestamp)

Done.

[('2021', 21.71807391589728, 25.950581517283005, 18.013098926416845),
 ('2022', 21.83989063189874, 25.98222905104811, 18.01763192754481)]

In [26]:
ts = %sql SELECT datetime(Timestamp) as date, Temperature FROM Temperature
df = ts.DataFrame()
df.set_index("date", inplace = True)
df.index=pd.to_datetime(df.index)
df.index

 * sqlite:///demo.db3
Done.

DatetimeIndex(['2021-06-27 09:37:30', '2021-06-28 09:37:30',
               '2021-06-29 09:37:30', '2021-06-30 09:37:30',
               '2021-07-01 09:37:30', '2021-07-02 09:37:30',
               '2021-07-03 09:37:30', '2021-07-04 09:37:30',
               '2021-07-05 09:37:30', '2021-07-06 09:37:30',
               ...
               '2022-10-30 09:37:30', '2022-10-31 09:37:30',
               '2022-11-01 09:37:30', '2022-11-02 09:37:30',
               '2022-11-03 09:37:30', '2022-11-04 09:37:30',
               '2022-11-05 09:37:30', '2022-11-06 09:37:30',
               '2022-11-07 09:37:30', '2022-11-08 09:37:30'],
              dtype='datetime64[ns]', name='date', length=500, freq=None)