<a href="https://colab.research.google.com/github/maeliech/database/blob/main/week9_DBLab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/my_db.db/")

In [14]:
r_set=my_conn.execute('''
CREATE TABLE student(
    id int NOT NULL,
    name varchar(64),
    class varchar(32),
    mark integer,
    sex varchar(32),
    PRIMARY KEY (id)
);
 ''')

In [15]:
my_conn.execute(''' INSERT INTO student (id, name, class, mark, sex) VALUES
(1, 'John Deo', 'Four', 75, 'female'),
(2, 'Max Ruin', 'Three', 85, 'male'),
(3, 'Arnold', 'Three', 55, 'male'),
(4, 'Krish Star', 'Four', 60, 'female'),
(5, 'John Mike', 'Four', 60, 'female'),
(6, 'Alex John', 'Four', 55, 'male'),
(7, 'My John Rob', 'Five', 78, 'male'),
(8, 'Asruid', 'Five', 85, 'male'),
(9, 'Tes Qry', 'Six', 78, 'male'),
(10, 'Big John', 'Four', 55, 'female'),
(11, 'Ronald', 'Six', 89, 'female'),
(27, 'Big Nose', 'Three', 81, 'female'),
(28, 'Rojj Base', 'Seven', 86, 'female'),
(29, 'Tess Played', 'Seven', 55, 'male'),
(30, 'Reppy Red', 'Six', 79, 'female'),
(31, 'Marry Toeey', 'Four', 88, 'male'),
(32, 'Binn Rott', 'Seven', 90, 'female'),
(33, 'Kenn Rein', 'Six', 96, 'female'),
(34, 'Gain Toe', 'Seven', 69, 'male'),
(35, 'Rows Noump', 'Six', 88, 'female');
''')

In [20]:
from sqlalchemy.exc import SQLAlchemyError
try:
  my_conn.execute('''DROP table student;''')
  print("student table deleted")
except SQLAlchemyError as e:
  error=str(e._dict_['orig'])
  print(error)

student table deleted

In [9]:
my_conn = create_engine("sqlite:////content/my_db.db/")

In [21]:
#open file and run script
with open("student_tables.sql","r") as file:
  query = file.read()
  my_conn.execute(query)

In [23]:
from sqlalchemy import create_engine
#show list of tables
r_set = my_conn.execute("SELECT name FROM sqlite_master WHERE type='table' ;")
for row in r_set:
  print(row)

('category',)
('subcategory',)
('student',)

In [26]:
#open file and run script
with open("student_insert.sql","r") as file:
  query = file.read()
  my_conn.execute(query)

  r_set=my_conn.execute('''SELECT * FROM student''');
  for row in r_set:
    print(row)

(1, 'John Deo', 'Four', 75, 'female')
(2, 'Max Ruin', 'Three', 85, 'male')
(3, 'Arnold', 'Three', 55, 'male')
(4, 'Krish Star', 'Four', 60, 'female')
(5, 'John Mike', 'Four', 60, 'female')
(6, 'Alex John', 'Four', 55, 'male')
(7, 'My John Rob', 'Five', 78, 'male')
(8, 'Asruid', 'Five', 85, 'male')
(9, 'Tes Qry', 'Six', 78, 'male')
(10, 'Big John', 'Four', 55, 'female')
(11, 'Ronald', 'Six', 89, 'female')
(27, 'Big Nose', 'Three', 81, 'female')
(28, 'Rojj Base', 'Seven', 86, 'female')
(29, 'Tess Played', 'Seven', 55, 'male')
(30, 'Reppy Red', 'Six', 79, 'female')
(31, 'Marry Toeey', 'Four', 88, 'male')
(32, 'Binn Rott', 'Seven', 90, 'female')
(33, 'Kenn Rein', 'Six', 96, 'female')
(34, 'Gain Toe', 'Seven', 69, 'male')
(35, 'Rows Noump', 'Six', 88, 'female')

In [28]:
from sqlalchemy.exc import SQLAlchemyError
q="UPDATE student SET mark=mark+1"
try:
  r_set=my_conn.execute(q)
except SQLAlchemyError as e:
  error=str(e._dict_['orig'])
  print(error) 
else:
  print("No of records updated : ", r_set.rowcount)

No of records updated :  20

In [29]:
r_set=my_conn.execute('''SELECT * FROM student''');
for row in r_set:
  print(row)

(1, 'John Deo', 'Four', 76, 'female')
(2, 'Max Ruin', 'Three', 86, 'male')
(3, 'Arnold', 'Three', 56, 'male')
(4, 'Krish Star', 'Four', 61, 'female')
(5, 'John Mike', 'Four', 61, 'female')
(6, 'Alex John', 'Four', 56, 'male')
(7, 'My John Rob', 'Five', 79, 'male')
(8, 'Asruid', 'Five', 86, 'male')
(9, 'Tes Qry', 'Six', 79, 'male')
(10, 'Big John', 'Four', 56, 'female')
(11, 'Ronald', 'Six', 90, 'female')
(27, 'Big Nose', 'Three', 82, 'female')
(28, 'Rojj Base', 'Seven', 87, 'female')
(29, 'Tess Played', 'Seven', 56, 'male')
(30, 'Reppy Red', 'Six', 80, 'female')
(31, 'Marry Toeey', 'Four', 89, 'male')
(32, 'Binn Rott', 'Seven', 91, 'female')
(33, 'Kenn Rein', 'Six', 97, 'female')
(34, 'Gain Toe', 'Seven', 70, 'male')
(35, 'Rows Noump', 'Six', 89, 'female')

In [32]:
from sqlalchemy.exc import SQLAlchemyError
q="UPDATE student SET mark=mark+1 WHERE id=7"
try:
  r_set=my_conn.execute(q)
except SQLAlchemyError as e:
  error=str(e._dict_['orig'])
  print(error) 
else:
  print("No of records updated: ", r_set.rowcount)

No of records updated:  1

In [33]:
r_set=my_conn.execute('''SELECT * FROM student''');
for row in r_set:
  print(row)

(1, 'John Deo', 'Four', 76, 'female')
(2, 'Max Ruin', 'Three', 86, 'male')
(3, 'Arnold', 'Three', 56, 'male')
(4, 'Krish Star', 'Four', 61, 'female')
(5, 'John Mike', 'Four', 61, 'female')
(6, 'Alex John', 'Four', 56, 'male')
(7, 'My John Rob', 'Five', 82, 'male')
(8, 'Asruid', 'Five', 86, 'male')
(9, 'Tes Qry', 'Six', 79, 'male')
(10, 'Big John', 'Four', 56, 'female')
(11, 'Ronald', 'Six', 90, 'female')
(27, 'Big Nose', 'Three', 82, 'female')
(28, 'Rojj Base', 'Seven', 87, 'female')
(29, 'Tess Played', 'Seven', 56, 'male')
(30, 'Reppy Red', 'Six', 80, 'female')
(31, 'Marry Toeey', 'Four', 89, 'male')
(32, 'Binn Rott', 'Seven', 91, 'female')
(33, 'Kenn Rein', 'Six', 97, 'female')
(34, 'Gain Toe', 'Seven', 70, 'male')
(35, 'Rows Noump', 'Six', 89, 'female')

In [34]:
from sqlalchemy.exc import SQLAlchemyError
q="UPDATE student SET mark=mark+1 WHERE class='Four' "
try:
  r_set=my_conn.execute(q)
except SQLAlchemyError as e:
  error=str(e._dict_['orig'])
  print(error)
else:
  print("No of records updated :", r_set.rowcount)

No of records updated : 6

In [35]:
r_set=my_conn.execute('''SELECT * FROM student''');
for row in r_set:
  print(row)

(1, 'John Deo', 'Four', 77, 'female')
(2, 'Max Ruin', 'Three', 86, 'male')
(3, 'Arnold', 'Three', 56, 'male')
(4, 'Krish Star', 'Four', 62, 'female')
(5, 'John Mike', 'Four', 62, 'female')
(6, 'Alex John', 'Four', 57, 'male')
(7, 'My John Rob', 'Five', 82, 'male')
(8, 'Asruid', 'Five', 86, 'male')
(9, 'Tes Qry', 'Six', 79, 'male')
(10, 'Big John', 'Four', 57, 'female')
(11, 'Ronald', 'Six', 90, 'female')
(27, 'Big Nose', 'Three', 82, 'female')
(28, 'Rojj Base', 'Seven', 87, 'female')
(29, 'Tess Played', 'Seven', 56, 'male')
(30, 'Reppy Red', 'Six', 80, 'female')
(31, 'Marry Toeey', 'Four', 90, 'male')
(32, 'Binn Rott', 'Seven', 91, 'female')
(33, 'Kenn Rein', 'Six', 97, 'female')
(34, 'Gain Toe', 'Seven', 70, 'male')
(35, 'Rows Noump', 'Six', 89, 'female')

In [36]:
from sqlalchemy.exc import SQLAlchemyError
q="UPDATE student SET class='Four' WHERE class='Three' "
try:
  r_set=my_conn.execute(q)
except SQLAlchemyError as e:
  error=str(e._dict_['orig'])
  print(error)
else:
  print("No of records updated :", r_set.rowcount)

No of records updated : 3

In [37]:
r_set=my_conn.execute('''SELECT * FROM student''');
for row in r_set:
  print(row)

(1, 'John Deo', 'Four', 77, 'female')
(2, 'Max Ruin', 'Four', 86, 'male')
(3, 'Arnold', 'Four', 56, 'male')
(4, 'Krish Star', 'Four', 62, 'female')
(5, 'John Mike', 'Four', 62, 'female')
(6, 'Alex John', 'Four', 57, 'male')
(7, 'My John Rob', 'Five', 82, 'male')
(8, 'Asruid', 'Five', 86, 'male')
(9, 'Tes Qry', 'Six', 79, 'male')
(10, 'Big John', 'Four', 57, 'female')
(11, 'Ronald', 'Six', 90, 'female')
(27, 'Big Nose', 'Four', 82, 'female')
(28, 'Rojj Base', 'Seven', 87, 'female')
(29, 'Tess Played', 'Seven', 56, 'male')
(30, 'Reppy Red', 'Six', 80, 'female')
(31, 'Marry Toeey', 'Four', 90, 'male')
(32, 'Binn Rott', 'Seven', 91, 'female')
(33, 'Kenn Rein', 'Six', 97, 'female')
(34, 'Gain Toe', 'Seven', 70, 'male')
(35, 'Rows Noump', 'Six', 89, 'female')

In [44]:
from sqlalchemy.exc import SQLAlchemyError
id=input("Enter student id : ")
my_data=(id,)
q="UPDATE stdent SET mark=mark+5 WHERE id=?"
try:
  r_set=my_conn.execute(q,my_data)
except SQLAlchemyError as e:
  error=str(e._dict_['orig'])
  print(error)
else:
  print("No of records updated : ", r_set.rowcount)

KeyboardInterrupt: ignored

In [45]:
from sqlalchemy.exc import SQLAlchemyError
my_data=('Six','Seven')
q="UPDATE student SET class=? WHERE class=?"
try:
  r_set=my_conn.execute(q,my_data)
except SQLAlchemyError as e:
  error=str("e._dict_['orig']")
  print(error)
else:
  print("No of records updated : ", r_set.rowcount)

No of records updated :  0

In [43]:
r_set=my_conn.execute('''SELECT * FROM student''');
for row in r_set:
  print(row)

(1, 'John Deo', 'Four', 77, 'female')
(2, 'Max Ruin', 'Four', 86, 'male')
(3, 'Arnold', 'Four', 56, 'male')
(4, 'Krish Star', 'Four', 62, 'female')
(5, 'John Mike', 'Four', 62, 'female')
(6, 'Alex John', 'Four', 57, 'male')
(7, 'My John Rob', 'Five', 82, 'male')
(8, 'Asruid', 'Five', 86, 'male')
(9, 'Tes Qry', 'Six', 79, 'male')
(10, 'Big John', 'Four', 57, 'female')
(11, 'Ronald', 'Six', 90, 'female')
(27, 'Big Nose', 'Four', 82, 'female')
(28, 'Rojj Base', 'Six', 87, 'female')
(29, 'Tess Played', 'Six', 56, 'male')
(30, 'Reppy Red', 'Six', 80, 'female')
(31, 'Marry Toeey', 'Four', 90, 'male')
(32, 'Binn Rott', 'Six', 91, 'female')
(33, 'Kenn Rein', 'Six', 97, 'female')
(34, 'Gain Toe', 'Six', 70, 'male')
(35, 'Rows Noump', 'Six', 89, 'female')

In [46]:
from sqlalchemy.exc import SQLAlchemyError
q="SELECT DISTINCT(class) FROM student"
try:
  r_set=my_conn.execute(q)
  data=r_set.fetchall()
  for row in data:
    print(row[0])
except SQLAlchemyError as e:
  error=str("e._dict_['orig']")
  print(error)
else:
  print("No of records updated : ", r_set.rowcount)

Four
Five
Six
No of records updated :  -1

In [47]:
from sqlalchemy.exc import SQLAlchemyError
q="SELECT DISTINCT(class) FROM student WHERE mark>=80"
try:
  r_set=my_conn.execute(q)
  data=r_set.fetchall()
  for row in data:
    print(row[0])
except SQLAlchemyError as e:
  error=str(e._dict_['orig'])
  print(error)
else:
  print("No of records displayed : ", len(data))

Four
Five
Six
No of records updated :  3

In [49]:
from sqlalchemy.exc import SQLAlchemyError
q="SELECT DISTINCT(class) FROM student order by class"
try:
  r_set=my_conn.execute(q)
  data=r_set.fetchall()
  for row in data:
    print(row[0])
except SQLAlchemyError as e:
  error=str(e._dict_['orig'])
  print(error)
else:
  print("No of records displayed :", len(data))

Five
Four
Six
No of records displayed : 3

In [51]:
from sqlalchemy.exc import SQLAlchemyError
q="SELECT DISTINCT class,sex FROM student order by class"
try:
  r_set=my_conn.execute(q)
  data=r_set.fetchall()
  for row in data:
    print(row[0],row[1])
except SQLAlchemyError as e:
  error=str(e._dict_['orig'])
  print(error)
else:
  print("No of records displayed :", len(data))

Five male
Four female
Four male
Six male
Six female
No of records displayed : 5

In [52]:
from sqlalchemy.exc import SQLAlchemyError
q="DELETE FROM student WHERE id=5"
try:
  r_set=my_conn.execute(q)
  for row in data:
    print(row[0])
except SQLAlchemyError as e:
  error=str(e._dict_['orig'])
  print(error)
else:
  print("No of records deleted :", r_set.rowcount)

Five
Four
Four
Six
Six
No of records deleted : 1

In [53]:
from sqlalchemy.exc import SQLAlchemyError
q="DELETE FROM student WHERE class='Four' "
try:
  r_set=my_conn.execute(q)
except SQLAlchemyError as e:
  error=str(e._dict_['orig'])
  print(error)
else:
  print("No of records deleted :", r_set.rowcount)

No of records deleted : 8

In [54]:
from sqlalchemy.exc import SQLAlchemyError
my_data=("Five",)
q="DELETE FROM student WHERE class=?"
try:
  r_set=my_conn.execute(q,my_data)
except SQLAlchemyError as e:
  error=str(e._dict_['orig'])
  print(error)
else:
  print("No of records deleted :", r_set.rowcount)

No of records deleted : 2

In [55]:
from sqlalchemy.exc import SQLAlchemyError
my_data=("Six","Seven")
q="DELETE FROM student WHERE class=? OR class=?"
try:
  r_set=my_conn.execute(q,my_data)
except SQLAlchemyError as e:
  error=str(e._dict_['orig'])
  print(error)
else:
  print("No of records deleted :", r_set.rowcount)

No of records deleted : 9

In [56]:
from sqlalchemy.exc import SQLAlchemyError
q="DELETE FROM student"
try:
  r_set=my_conn.execute(q)
except SQLAlchemyError as e:
  error=str(e._dict_['orig'])
  print(error)
else:
  print("No of records deleted :", r_set.rowcount)

No of records deleted : 0

In [ ]:
from sqlalchemy.exc import SQLAlchemyError
  r_set=my_conn.execute(q)
except SQLAlchemyError as e:
  error=str(e._dict_['orig'])
  print(error) 
else:
  print("No of records updated : ", r_set.rowcount)